.favoriteButton {
    color: red;
    border: none;
   
}

.unfavorite {
    color: black;
}

.background button {
    border: none;
    border-radius: 20px;
    outline: none;
    background-color: white;
}
.fa-heart {
    /* padding: 10px; */
    font-size: 45px;
}
.trainerPicture {
    height: 300px;
    width: 100%;
    background-repeat: repeat-x;
    border-radius: 5px;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.reviewContainer {
   align-self: flex-start;
   text-align: left;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 100%;
}
.reviewContainer h2 {
    width: 100%;
    margin: 0;
    text-align: left;
    border-bottom: 1px solid lightgray;
   
}
.reviewContainer h4 {
    margin: 0;
   
}

.review {
    display: flex;
    flex-direction: row;
    flex-grow: 2; 
    border-bottom: 1px solid lightgray;
    width: 100%; 
} 
.reviewItems {
    padding-left: 10px;
    text-align: left;
}

.trainerContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid white;
    background-color: rgba(255,255,255,1);
    border-radius: 5px;
    box-shadow:-1px -1px 15px 0px #CECECE ; 
    padding-left: 10px;
    margin-top: -10px;
    width: 85%;
    min-height: 100vh;
    align-self: center;
}

p {
    margin: 0;
}
ul {
    padding: 0;
    margin:0;
    padding-bottom: 5px;
}

.certs {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

li {
    list-style: none;
   
}
h2 {
    padding: 0;
    margin: 0;
}
.education {
    margin-top: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
    width: 100%;
}

#ratingCategories{
    font-weight: bold;
    font-size: 10px;
    color:orangered;
}

#reviewText {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

#userImage{
    width: 30px;
    height: 30px;
    padding-top: 15px;
}

.profilePicContainer{
    align-self: baseline;
}

#bold {
    font-weight: bold;
}