.trainerCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    /* overflow-x:scroll; */
    /* width: 100%; */
}


.trainerCategories {
    padding: 20px;
    border-bottom: 1px solid lightgray;
   
}

