.trainerCards {
    display: flex;
    flex-direction: row;
   
}

.trainerCards ul {
    border: 1px solid black;
    margin: 5px;
    list-style: none;
    text-decoration: none;
    padding: 0px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    width: 200px;
}


.trainerimage {
    width: 100%;
    height: 50%;
}
