* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    border-bottom: 1px solid lightgray;
}

.favoriteTrainers {
    display: flex;
    flex-direction:row ;
}

.favoriteTrainers img {
    width: 70px;
    height: 70px;
    padding: 5px;
}

.favoriteTrainers a {
    color: red;
}
.profileContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 3px;
    /* box-shadow:-1px -1px 15px 0px #CECECE ; */
    align-items: center;
    height: 800px;
    
}

.profileContainer > h1 {
    align-self: start;
    width: 100%;
    padding-bottom: 20px;
}

.favContainer {
    border: 1px solid white;
    border-radius: 3px;
    box-shadow:-1px -1px 15px 0px #CECECE;
    width: 75%;
  
}

.favContainer > h2 {
    padding-bottom: 15px;
}