.reviewForm {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100%;
    border: 1px solid black;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.inputContainer [type=radio] {
    text-align: right;
    /* background-image: url('../../images/needASpot.png'); */
}

.reviewContainers {
    display: flex;
    flex-direction: column;
    align-items: center;
}


