.profile-dropdown {
  position: absolute;
  
}
.logo {
 
}

.navBar {
  border: 1px solid white;
  border-bottom: 1px solid lightgray;
  margin: 0;
  padding: 0px;
  display: flex;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fa-search {

  padding-left: 10px;

}

.items {
  padding-left:10px ;
  padding-right: 10px;
  font-size: 20px;
}

.items > button {
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 20px;
  padding: 10px;
}

.fa-bell {
  padding-right: 10px;
  padding-left: 10px;
}

.fa-calendar {
  padding-right: 10px;
  padding-left: 10px;
}

