.profile-dropdown {
  position: absolute;
  
}
.logo {
 
}

.navBar {
  border: 1px solid white;
  border-bottom: 1px solid lightgray;
  margin: 0;
  padding: 0px;
  display: flex;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fa-search {
  padding-top:5px ;
  padding-bottom: 5px;
  padding-left: 10px;
  border-left:1px solid lightgray ;
}

.items {
  padding-left:10px ;
  padding-right: 10px;
  font-size: 20px;
}

.items > button {
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 20px;
  border-width: 1px;
  padding: 8px;
  outline: none;
  /* background-color: lightgray; */
}

.fa-bell {
  padding-right: 20px;
  padding-left: 10px;
}

.fa-calendar {
  padding-right: 10px;
  padding-left: 10px;
}

.fa-user-circle {
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.profile-dropdown {
  border: 1px solid rgb(168, 165, 165);
  border-radius: 2px;
 float: left;
 transform: translateX(-50%);
 list-style: none;
 padding: 5px;
 /* padding-right: 25px; */
 padding-bottom: 30px;
}

.userName {
  border-bottom: 1px solid lightgray;
  font-weight: bold;
}

.profile-dropdown button{
border: none;
background-color:rgba(255, 255, 255, 0);
font-size: 18px;
padding: 0;
padding-top: 5px;
outline: none;
}

.profileButtons:hover {
  background-color: rgb(241, 238, 238);
}


