.profile-dropdown {
  position: absolute;
  
}


.navBar {
  border: 1px solid white;
  border-bottom: 1px solid lightgray;
  margin: 0;
  padding: 0px;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.fa-search {
  padding-top:5px ;
  padding-bottom: 5px;
  padding-left: 10px;
  border-left:1px solid lightgray ;
}

.items {
  padding-left:10px ;
  padding-right: 10px;
  font-size: 20px;
}
#user_profile_logout_button{
  margin-right: 6.7em;
  margin-left: 6.7em;
}
.items > button {
  
  border-radius: 20em;
  border-width: .1em;
  padding: 1em;
  outline: none;
  /* background-color: lightgray; */
}



.fa-user-circle {
  font-size: 10em;
  font-weight: bold;
  color: black;
}

.profile-dropdown {
  border: 1px solid rgb(168, 165, 165);
  border-radius: 2px;
 transform: translateX(-50%);
 list-style: none;
 padding: 5px;
 background-color: #ffffff;
 /* padding-right: 25px; */
 padding-bottom: 20px;
}

.userName {
  border-bottom: 1px solid lightgray;
  font-weight: bold;
}

.profile-dropdown button{
border: none;
background-color:rgba(255, 255, 255, 0);
font-size: 18px;
padding: 0;
padding-right: 7.3em;
padding-top: 5px;
outline: none;
}
/* .profileButtons{
  padding-right: 5em;
} */
.profileButtons:hover {
  background-color: rgb(241, 238, 238);
}

.my_page_links {
  display: flex;
  justify-content: center;
}

.my_page_links p {
  font-size: 1.5em;
  margin-left: .2em;
  margin-right: .2em;
}

.my_page_links a {
  color: black;
}

.my_page_links a:hover{
  color: blue;
}
